* {
	font-family: "Courier New", Courier, monospace;
}
body {
	margin: 0;
	background-color: lightgrey;
}

.upper-section {
	margin-top: 60px;
	text-align: center;
}

.container {
	text-align: center;
	border: 4px solid black;
	border-radius: 4px;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 500px;
	width: 500px;
}

.square {
	transition: all 0.5s;
}

.center {
	display: flex;
	justify-content: center;
}

button {
	border: 2px solid black;
	font-weight: bold;
	border-radius: 2px;
	background-color: transparent;
	transition: 0.5s;
}

button:hover {
	background-color: black;
	color: white;
	transition: 0.5s;
}

button:focus {
	background-color: blue;
}

.temp-text {
	padding: 60px;
}

@media only screen and (max-width: 500px) {
	button {
		width: 25%;
	}
	.upper-section {
		margin-top: 100px;
	}
	.container {
		height: 300px;
		width: 300px;
	}
	h1 {
		text-align: center;
	}
	.upper-section {
		position: static;
		text-align: center;
	}

	.container {
		padding: 0;
		font-size: 12px;
	}

	.temp-text > h1 {
		padding: 0;
	}
}
